@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Go to Home for View all the country details fro Database </p>
    <p> If you are logged in, you will be able to edit/ delete Countries from Database</p>
    <p> Go to Covid Updates for Covid Summary / History </p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
